body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-weight: 400;
    margin: 0 auto;
   width: 1600px;  
}

:root {
    --heading-font-family: 'Roboto', sans-serif;
    --hover-color: #2196F3;
    --text-color: #757575;
    --header-color: #212121;
    --section-background: #2F303A;
}
ul{
    list-style: none;
}

.nav-container ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    column-gap:50px;
    height: 16px;
    padding-top: 32px; 
    padding-bottom:32px;
    
}

.contacts-header-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    height: 16px;
    
}

.topline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 200px;
    margin-left: 200px;
}

.logo {
    display: flex;
    align-items: center;
    width: 145px;
    height: 31px;
}

.navigation-section .link{
    color:var(--header-color);
text-decoration: none;
}

.current {
    color: var(--hover-color);
}

.contacts-header .link{
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    color:var(--text-color);
    font-size: 500;}

.contacts-footer .link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
    font-size: 400;
}

.contacts-header .link:hover, .link:active{
color:var(--hover-color);
}

.contacts-footer .link:hover, .link.active {
    color: var(--hover-color);
}

.btn {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.85;
    background-color:var(--hover-color);
    color: #fff;
    width: 200px;
    height: 50px;
    top: 350px;
    left: 700px;
    border-radius: 4px;
    cursor:pointer;
    font-family: inherit;
    border: none;
    }

.btn:hover {
    background-color: #188CE8;
    color:#fff;
}

/* butoane-portofoliu */
.btn-filter{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.85px;
    color:var(--header-color);
    background-color: #F5F4FA;
    height: 26px;
    top: 180px;
    left: 959px;
    cursor:pointer;
    font-family: inherit;
    border:none;
}

.btn-filter:hover, .btn-filter:focus{
    color: #fff;
    background-color: var(--hover-color);
}

.btn-filter:active{
background-color: var(--hover-color);
}

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 2.18;
    color:#fff;
}

.logo .first-logo {
    color: var(--hover-color);
}

.logo .second-logo {
    color: #000;
}

.first-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 600px;
    background-color: var(--section-background);
}
.first-section h1 {
    text-align: center;
    color: #F5F4FA;
    font-weight: 900;
    font-size: 44px;
    line-height:60px;
    Width: 696px;
    Height: 120px;
    row-gap: 30px;
}

.second-section p{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--text-color);
width:270px;
height: 75px;
}

.second-section h3{
font-weight: 700;
size: 14px;
line: 1.17;
color: var(--header-color);
width: 270px;
height: 16px;
padding-bottom: 10px;
}
.second-section ul{
display: flex;
justify-content: space-between;
column-gap: 30px;  
padding-left: 15px;
padding-right: 15px;
margin-right: 200px;
margin-left: 200px;
}

.third-section h2{
font-weight: 700px;
font-size: 36px;
line-height: 3.01;
text-align: center;
color: var(--header-color);
}

.third-section ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 200px;
    margin-left: 200px;
  
}

.fourth-section {
    background-color: #F5F4FA;
    height: 648px;
}

.fourth-section h2{
    font-weight: 700px;
    font-size: 36px;
    line-height: 3.01;
    text-align: center;
    color: var(--header-color);

}
.fourth-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33;
    text-align: center;
    color: var(--text-color);
}
.fourth-section ul {
    display: flex;
    justify-content:space-between;
    width: 1200;
    column-gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 200px;
    margin-left: 200px;
}

.fourth-section h3 {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.33;
    text-align: center;
    color: var(--header-color);
    row-gap: 10px;
}

.card li {
    Width: 270px;
    Height: 368px;
    background-color: #fff;
}

.text-section h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.57;
    color: var(--header-color);
}

.text-section span{
    font-weight: 400px;
    font-size: 16px;
    line-height: 2.14;
    color: var(--text-color);

}
.footer-section {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    background-color: var(--section-background);
    color: #fff;
   
} 
.footer-section address{
    font-style: normal;    
}

.footer-container{
    display: flex;
    padding-left: 215px;
    padding-bottom: 60px;
    min-width: 231px; 
    padding-top: 119px; 
}
.footer-section a{
    padding-top: 60px;

}

.buttons-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    column-gap: 8px;
    padding-top: 94px;
    padding-bottom: 50px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.images-container ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 215px;
    column-gap: 30px;
    row-gap: 30px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

